* {
    xbg:    #012531;
    xfg:    #d3b6a8;
    x0:     #282A36;
    x1:     #F37F97;
    x2:     #5ADECD;
    x3:     #F2A272;
    x4:     #8897F4;
    x5:     #33aaa3;
    x6:     #79E6F3;
    x7:     #3c94a4;
    x8:     #046374;
    x9:     #FF4971;
    x10:    #18E3C8;
    x11:    #FF8037;
    x12:    #556FFF;
    x13:    #d91041;
    x14:    #3FDCEE;
    x15:    #FDFDFD;
}